{% extends '::base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig'  %}

{% block body -%}
    <h1>Books creation</h1>

    <form action="{{ path('books_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.title) }}<br/>
        {{ form_row(form.description) }}<br/><br/>
        {{ form_row(form.translations) }}
        {{ form_row(form.author) }}<br/>
        <ul class="new_author" data-prototype="{{ form_widget(form.new_author.vars.prototype)|e }}"></ul>
        {{ form_row(form.tag) }}
        <ul class="new_tag" data-prototype="{{ form_widget(form.new_tag.vars.prototype)|e }}"></ul>
        {{ form_rest(form) }}

        <p>
            <button type="submit" formnovalidate>Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('books') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
