{% extends '::base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig'  %}

{% block body -%}
    <h1>Movies creation</h1>

    <form action="{{ path('movies_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.title) }}<br/>
        {{ form_row(form.description) }}<br/><br/>
        {{ form_row(form.translations) }}
        {{ form_row(form.quality) }}
        {{ form_row(form.actor) }}
        <ul class="new_actor" data-prototype="{{ form_widget(form.new_actor.vars.prototype)|e }}"></ul>
        {{ form_row(form.tag) }}
        <ul class="new_tag" data-prototype="{{ form_widget(form.new_tag.vars.prototype)|e }}"></ul>
        {{ form_rest(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('movies') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
