<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Axioma{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('/js/new_entities.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% set locale_url = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))|slice(0,3) %}
        {% if locale_url != '/' %}
            {% set locale = locale_url %}
        {% endif %}
        <a href="{{ locale }}/books">Books</a>
        <a href="{{ locale }}/movies">Movies</a>
        |
        {% set href = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))|slice(4) %}
        <a href="/en/{{ href }}">en</a>
        <a href="/fr/{{ href }}">fr</a>
        <a href="/ru/{{ href }}">ru</a>
        <a href="/de/{{ href }}">de</a>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
